* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #f8f8f8;
}

.box-formulir {
    width: 50%;
    margin: 100px auto;
}

.box {
    background-color: transparent;
    padding: 10px;
    box-sizing: border-box;
    margin: 5px 0 25px;
}

.table-form {
    width: 100%;
}

.table-form tr td:nth-child(1) {
    width: 30%;
}

.input-control {
    padding: 5px 10px;
    font-size: 16px;
    margin: 5px 0;
}

.btn-daftar {
    padding: 10px 17px;
    background-color: #4a99d7;
    color: #fff;
    border: none;
    font-size: 16px;
}

.btn-daftar:hover {
    cursor: pointer;
    background-color: #4881ae;
}

.btn-cetak {
    display: inline-block;
    padding: 10px 17px;
    color: #fff;
    background-color: #ff5733;
    margin-top: 5px;
    margin-bottom: 10px;
}

.table-data {
    width: 100%;
    margin-top: 10px;
}

.table-data tr {
    height: 35px;
}

.table-data tr td:nth-child(1) {
    width: 30%;
}

.main-login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.box-login {
    width: 320px;
    min-height: 200px;
}

.box-login h2 {
    text-align: center;
    margin-bottom: 20px;
}

.btn-login {
    padding: 7px 20px;
    background-color: rgb(36, 106, 238);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 16px;
}

.btn-login:hover {
    cursor: pointer;
    background-color: rgb(171, 207, 38);
}

header {
    background-color: rgb(171, 207, 38);
    /*header bacground*/
}

header::after {
    content: '';
    display: block;
    clear: both;
}

header h1 {
    cursor: pointer;
    padding: 15px 25px;
    display: inline-block;
    float: left;
}

header ul {
    float: left;
}

header ul li {
    padding: 24px 25px;
    display: inline-block;
}

a {
    text-decoration: none;
}

.content {
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    margin: 50px auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.table tr {
    height: 30px;
}

.table tr td {
    padding: 5px 10px;
}

.table tr td:nth-child(1) {
    text-align: center;
}